In [ ]:
'''
We know about list,tuple & set. 
We can use them to create 2Dimensional which means similar to excel sheet i.e rows and columns

'''

In [9]:
#first create 1-d List 
igames=['carroms','chess','painting','pool'] #This is 1d array
ogames=['cricket','vollyball','basketball'] #This is 1d array

#we can create now 2d list using above
sports=[igames,ogames]
#print(sports)

#another way to writing this is manual way
zoo=[['lion','Tiger','Zebra','Elephant'],['parrot','peacock','owl'],['spider','snake','ant']]
print(zoo)

[['lion', 'Tiger', 'Zebra', 'Elephant'], ['parrot', 'peacock', 'owl'], ['spider', 'snake', 'ant']]

In [26]:
#we can access each element, each row and each coloumn in multiple ways
'''
['lion', 'Tiger', 'Zebra', 'Elephant']
['parrot', 'peacock', 'owl']
['spider', 'snake', 'ant']
'''

#access each row directly
#1st row
#print(zoo[0])
#2nd row
#print(zoo[1])
#3rd row
#print(zoo[2])

#access all the elements in the 2d array using for loop
'''
for i in zoo:
    for j in i:
        print(j)
'''
#access only 1st column using for loop
#for i in zoo:
#    print(i[0])
#access 2nd column using for loop
#for i in zoo:
 #   print(i[1])

#access 3rd column using for loop
#for i in zoo:
 #   print(i[2])
#access 4th column using for loop
'''
for i in zoo:
    print(i[3])
'''

Elephant

IndexError: list index out of range

In [36]:
#Accessing individual element using both negative and postive values

'''
['lion', 'Tiger', 'Zebra', 'Elephant']
['parrot', 'peacock', 'owl']
['spider', 'snake', 'ant']
'''
#positive values like we do in matrix 
'''
print(zoo[0][3])
print(zoo[0][2])
print(zoo[1][2])
print(zoo[2][0])
'''
#we can use negative values as well like we use in slicing for them also
print(zoo[-1][-1])
print(zoo[1][-1])
print(zoo[-2][-2])
print(zoo[-3][-3])

ant
owl
peacock
Tiger