we can use format specifiers for place holders in the f string, we have multiple options where we can format many things while printing.
Syntax:- {value:format specifier}
we can use multiple format specifiers in the same syntax as well
1.Rounding the decimal point. normally we can also acheive the same thing using default round method in the python.
2.Space allocation- Using this we can set the blocks/structure of the values using space allocation.
3.Preceded with '0'- Using this in the structure of the variable instead of empty spaces we can fill zeros
4.Left alignment- Align the values in the structure/block to the left
5.Right alignment- Align the values in the structure/block to the right
6.Center alignment- Align the values in the structure/block to the center
7.Thousand converter/thousand specifier- comma for thousands to ease the representation

In [6]:
salary=13500.45678
print(f"Salary of Avinash is ${round(salary,2)}") #This is a maual way
print(f"Salary of Avinash is ${salary:.2f}") #Using decimal places format specifier

Salary of Avinash is $13500.46
Salary of Avinash is $13500.46

In [7]:
creditdue=4334.71
print(f"Credit card bill due for Avinash is ${creditdue:10}") #This will create a structure of 10 in which it will fill the credit due

Credit card bill due for Avinash is $   4334.71

In [8]:
creditdue=4334.71
print(f"Credit card bill due for Avinash is ${creditdue:010}") #fill zeros in the empty blocks

Credit card bill due for Avinash is $0004334.71

In [11]:
creditdue=4334.71
print(f"Credit card bill due for Avinash is ${creditdue:<10}")

Credit card bill due for Avinash is $4334.71

In [12]:
creditdue=4334.71
print(f"Credit card bill due for Avinash is ${creditdue:>10}")

Credit card bill due for Avinash is $   4334.71

In [13]:
creditdue=4334.71
print(f"Credit card bill due for Avinash is ${creditdue:^10}")

Credit card bill due for Avinash is $ 4334.71

In [14]:
salary=1350000
print(f"Salary of Avinash is ${salary:,}") #Using decimal places format specifier

Salary of Avinash is $1,350,000