In [ ]:
'''
Functions- Are block of code which can be reuasble or executable. 
We can use this to reduce the lines of code and also to avoid loops in some cases
1.functions syntax and calling the functions
2.we can pass arguments or parameters- single or multiple arguments into the functions
3. we can return the value from the function as well by using return statement
'''

'''
Arguments/parameters
1.positional- regular arguments where position of arguments while passing is important and that will impact the execution of functions
2.default arguments- where default values are declared and will not required while calling the functions
3.Keyword arguments- where we can mention the keywords so that position of the arguments doesnt matter as function will understand the values based on the keyswords
4.Arbitary arguments:
 a)*arg-- Here this is like calling the method with positional arguments and these will be stored as tuple. 
          We can access the elements for anything using the concepts of tuple.
 b)**kwargs--Here this is like calling the method with keyword arguments and these will be stored as dictionary.
             We can access the elements based on how we mange the dictionary
'''

In [6]:
def selfintro():
    print("My name is Avinash Uppalapati")
    print("My son's name is Ayaansh Uppalapati")
    print("My nephews name is Veedansh Ram")
selfintro()
selfintro()
selfintro()
selfintro()

My name is Avinash Uppalapati
My son's name is Ayaansh Uppalapati
My nephews name is Veedansh Ram
My name is Avinash Uppalapati
My son's name is Ayaansh Uppalapati
My nephews name is Veedansh Ram
My name is Avinash Uppalapati
My son's name is Ayaansh Uppalapati
My nephews name is Veedansh Ram
My name is Avinash Uppalapati
My son's name is Ayaansh Uppalapati
My nephews name is Veedansh Ram

In [11]:
'''
We can pass arguments/parameters into the funtions but the main point here it is sequence of passing matters the most.
we should pass the arguments/parameters in the same sequence as mentioned in the original function
'''
def selfintro(name,age,dob):
    print(f"My name is {name}")
    print(f"My age is {age}")
    print(f"My dob is {dob}")
selfintro("Avinash",31,"31-12-1994")
selfintro("Ayaansh",2,"20-02-2024")

My name is Avinash
My age is 31
My dob is 31-12-1994
My name is Ayaansh
My age is 2
My dob is 20-02-2024

In [13]:
'''
Calculator program using functions
'''
a=int(input("Enter the number1:"))
b=int(input("Enter the number2:"))
def sum(a,b):
    result=a+b
    return(result)

def sub(a,b):
    result=a-b
    return(result)

def mul(a,b):
    result=a*b
    return(result)

def div(a,b):
    result=a/b
    return result

print(sum(a,b))
print(sub(a,b))
print(div(a,b))
print(mul(a,b))

Enter the number1: 3
Enter the number2: 4

7
-1
0.75
12

In [16]:
#Positional arguments
def name(fname,lname,age):
    print(f"My name is: {fname} {lname} and im {age} years old")
name('avinash','uppalapati',30)
name('uppalapati','30','avinash')

My name is: avinash uppalapati and im 30 years old
My name is: uppalapati 30 and im avinash years old

In [24]:
#Default arguments
def sale(mrp,discount=0,gst=18):
    price_after_discount = mrp - (mrp * discount / 100)
    final = price_after_discount * (1 + gst / 100)
    return final
print(sale(200))
print(sale(320,10))
print(sale(400,0,5))

236.0
339.84
420.0

In [32]:
#keyword arguments
def greeting(message,title,name):
    print(f"{message}!! {title}.{name}")

greeting("Happy birthday","Mr","Avinash")
greeting(name="Ayaansh",title="Mr",message="Congratulations")

Happy birthday!! Mr.Avinash
Congratulations!! Mr.Ayaansh

In [38]:
def mobnum(countrycode,areacode,number1,number2):
    print(f"+{countrycode}-{areacode}-{number1}-{number2}")
mobnum(91,313,741,691) #positional arguments
mobnum(countrycode=91,areacode=313,number1=741,number2=691) #keyword arguments

+91-313-741-691
+91-313-741-691

In [44]:
#Arbitary positional arguments
def sum(*args):
    total=0
    for i in args:
        total=total +i
    return total
sum(1,2,3,4,6,14)

30

In [51]:
#Arbitary keyword arguments
def address(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")
        
address(title="Mr.",fname="Avinash",lname="Uppalapati",street="SN Puram",pincode="520011",city="Vijayawada",state="Andhra Pradesh")

title:Mr.
fname:Avinash
lname:Uppalapati
street:SN Puram
pincode:520011
city:Vijayawada
state:Andhra Pradesh