In [ ]:
'''
Iterables- are object,collection which can return the whole or individual elements. To get the individual elements of these iterables we can use for loops as well
1.Strings
2.List
3.Set
4.Tuple
'''

In [6]:
#String
name="Anvitha"

'''
2 ways to iterate through these string
1.slicing
2.using for loop
'''
for item in reversed(name):
    print(item,end='')
print()
print(name[::-1])

ahtivnA
ahtivnA

In [15]:
#List
names=["Vijay","Yaswanth","Naveen","Gangadhar","Hiday"]

#get individual elements
names[4]

#Iterable using the for loop
for name in reversed(names):
    print(name,end=" ")

Hiday Gangadhar Naveen Yaswanth Vijay

In [27]:
#Set
bikes={"Hero","Honda","Yamaha","TVS"}
for bike in bikes:
    print(bike)

TVS
Hero
Honda
Yamaha

In [30]:
#Tuple
cars=("Ford","Mahendra","TATA","Suzuki")
for car in reversed(cars):
    print(car)
cars[::-1]

Suzuki
TATA
Mahendra
Ford

('Suzuki', 'TATA', 'Mahendra', 'Ford')